body{
    background-size: cover;
    background-position: center;
}

.heading{
    font-size: 30px;
    margin-top: 20px;
    background-color: pink;
    width: 20%;
    border-radius: 25px;
    height: 45px;
    text-align: center;
    font-family: 'Cookie';
    font-size: 40px;
}

.heading2{
    font-size: 20px;
    text-align: center;
    font-family: 'Cookie';
    font-size: 40px;
    color: black;
}

a{
    font-size: 20px;
    width: 400px;
    border-radius: 20px;
    background-color: bisque;
}

a:hover{
    color: hotpink;
}